.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 200px 30%;
    display: inline-block;
    
    background-color: rgb(125, 234, 234);
}

.btn-register{
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
    border: none;
    color: aliceblue;
    font-weight: bold;
}

.btn-login{
    margin-right: 20px;
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
    border: none;
    color: aliceblue;
    font-weight: bold;
}